@model Gbso.App.Model.General.NaturalPersonModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NaturalPersonModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearOld)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOld)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IpLastChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IpLastChange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActionState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActionState)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Key = Model.Key }) |
    <a asp-action="Index">Back to List</a>
</div>
