@using Gbso.Core.Extensions
@using Gbso.Core.Attributes
@using Gbso.App.Model.General
@model IdTypeNaturalPerson?

@{
    var values = Enum.GetValues(typeof(IdTypeNaturalPerson));
    var name = @ViewData.TemplateInfo.GetFullHtmlFieldName("");
    <select class="form-control" id="@name" name="@name">
        <option></option>
        @foreach (IdTypeNaturalPerson value in values)
        {
            @if (Model == value)
            {
                <option value="@value.GetHashCode()" selected="selected">@value.GetShortDescription() - @value.GetDescription()</option>
            }
            else
            {
                <option value="@value.GetHashCode()">@value.GetShortDescription() - @value.GetDescription()</option>
            }
        }
    </select>
}
