@{
    ViewBag.Title = "Security";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using Gbso.App.Entities

<br />
@{
    foreach (ProfileEntity item in @ViewBag.Perfils)
    {
        <h6>@item.Key - @item.Description - @item.ActionState - @item.UserLastChange.Perfil.Description</h6>
    }
}


