@{
    ViewBag.Title = "Security";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using Gbso.App.Entities
@model ProfileEntity
<br />
@{
    <table>
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.Key)</th>
                <th>@Html.LabelFor(m => m.Description)</th>
                <th>@Html.LabelFor(m => m.ActionState)</th>
                <th>@Html.LabelFor(m => m.UserLastChange.Nikname)</th>
            </tr>
        </thead>
        <tbody>
            @{
                ProfilesCollection Perfiles = ViewBag.Perfiles;
                if (Perfiles != null)
                {
                    foreach (var Perfil in Perfiles)
                    {
                        <tr>
                            <td>@Perfil.Key</td>
                            <td>@Perfil.Description</td>
                            <td>@Perfil.ActionState</td>
                            <td>@Perfil.UserLastChange</td>
                        </tr>
                    }
                }

            }
        </tbody>
    </table>
}



